<div class="container-fluid">
    <div id="linha-1" class="row">
        <div class="col-4">
            <h1 id="texto-importante">Siclano de tal</h1>
            <p id="texto-descritivo">Está a X anos na política<br>
            Cargo - Vereador<br>
            Natal - RN
            </p>
        </div>
        <div class="col-4">
            <img src="images/canditado-generico.png" id="imagem-candidato">
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col" id="partido-num">
                    <h1 id="texto-importante">Partido:</h1>
                    <img src="images/partido.png" id="partido">
                </div>
                <div class="col" id="partido-num">
                    <h1 id="texto-importante">Número:</h1>
                    <h2 id="numero">99</h2>
                </div>
            </div>
        </div>
    </div>

    <div id="linha-2" class="row">
        <div class="row">
            <div class="col-12">
                <h1 id="texto-importante">Sobre:</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p id="texto-descritivo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis sagittis nibh in tempor. Pellentesque lobortis turpis hendrerit, commodo purus ac, blandit quam. Fusce eu elit non ligula interdum facilisis. In vestibulum rutrum blandit. Suspendisse vitae erat quis felis luctus viverra. Ut at rhoncus sem. Suspendisse lacinia est sed neque semper, et accumsan nisl feugiat. Phasellus posuere sed nulla vel tristique. Curabitur massa magna, tempor non urna.</p>
            </div>
        </div>
    </div>

    <div id="linha-3" class="row">
        <div class="row">
            <div class="col-12">
                <h1 id="texto-importante">Projetos/Propostas:</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p id="texto-descritivo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis sagittis nibh in tempor. Pellentesque lobortis turpis hendrerit, commodo purus ac, blandit quam. Fusce eu elit non ligula interdum facilisis. In vestibulum rutrum blandit. Suspendisse vitae erat quis felis luctus viverra. Ut at rhoncus sem. Suspendisse lacinia est sed neque semper, et accumsan nisl feugiat. Phasellus posuere sed nulla vel tristique. Curabitur massa magna, tempor non urna.</p>
            </div>
        </div>
    </div>

    <div id="linha-4" class="row">
        <div class="row">
            <div class="col-12">
                <h1 id="texto-importante">Links importantes:</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="https://divulgacandcontas.tse.jus.br">Divulga TSE</a><br>
                <a href="">Site pessoal</a><br>
                <a href="">Site partido</a><br>
            </div>
        </div>
    </div>
</div>
