<div class="container-fluid">
    <!-- Primeira Linha -->
    <div id="linha-1" class="row justify-content-center">
        <div class="col-md-6 text-start">
            <h1>Siclano de Tal</h1>
            <p>Está a X anos na política.<br>
            Cargo - Vereador<br>
           Natal - RN</p>
        </div>
        <div class="col-md-6 text-end">
            <p>Partido(nome) Número</p>
        </div>
    </div>

    <!-- Segunda Linha: Sobre -->
    <div id="linha-2" class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h1>Sobre:</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis sagittis nibh in tempor. Pellentesque lobortis turpis hendrerit, commodo purus ac, blandit quam. Fusce eu elit non ligula interdum facilisis. In vestibulum rutrum blandit. Suspendisse vitae erat quis felis luctus viverra. Ut at rhoncus sem. Suspendisse lacinia est sed neque semper, et accumsan nisl feugiat. Phasellus posuere sed nulla vel tristique. Curabitur massa magna, tempor non urna.</p>
        </div>
    </div>

    <!-- Terceira Linha -->
    <div id="linha-3" class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h1>Projetos/Propostas:</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis sagittis nibh in tempor. Pellentesque lobortis turpis hendrerit, commodo purus ac, blandit quam. Fusce eu elit non ligula interdum facilisis. In vestibulum rutrum blandit. Suspendisse vitae erat quis felis luctus viverra. Ut at rhoncus sem. Suspendisse lacinia est sed neque semper, et accumsan nisl feugiat. Phasellus posuere sed nulla vel tristique. Curabitur massa magna, tempor non urna.</p>
        </div>
    </div>

    <!-- Quarta Linha -->
    <div id="linha-4" class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h1>Links Importantes:</h1>
            <p>
                gov.br <br>
                portal da transparência <br>
                site do partido/candidato
            </p>
        </div>
    </div>
</div>
