<div class="container-fluid">
    <div id="linha-1" class="row">
            <div class="row align-items-center">
                <!-- Texto à esquerda -->
                <div class="col-md-4 text-center text-md-start">
                    <h5 class="fw-bold">Siclano de tal</h5>
                    <p class="mb-1">Está a X anos na política.</p>
                    <p class="mb-1">Cargo - Vereador</p>
                    <p class="mb-1">Natal - RN</p>
                </div>
                <!-- Imagem central -->
                <div class="col-md-4 text-center">
                    <img src="images/candidato-generico.png" alt="Profile Picture" class="rounded-circle profile-image">
                </div>
                <!-- Partido à direita -->
                <div class="col-md-4 text-center text-md-end">
                    <p class="fw-bold mb-1">Partido:</p>
                    <img src="images/partido.png" alt="Partido Logo" class="party-logo mb-2">
                    <p class="fw-bold">Número: <span class="fs-4">99</span></p>
                </div>
            </div>
    </div>

    <div id="linha-2" class="row">
        <div class="row">
            <div class="col-12">
                <h1 id="texto-importante">Sobre:</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p id="texto-descritivo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis sagittis nibh in tempor. Pellentesque lobortis turpis hendrerit, commodo purus ac, blandit quam. Fusce eu elit non ligula interdum facilisis. In vestibulum rutrum blandit. Suspendisse vitae erat quis felis luctus viverra. Ut at rhoncus sem. Suspendisse lacinia est sed neque semper, et accumsan nisl feugiat. Phasellus posuere sed nulla vel tristique. Curabitur massa magna, tempor non urna.</p>
            </div>
        </div>
    </div>

    <div id="linha-3" class="row">
        <div class="row">
            <div class="col-12">
                <h1 id="texto-importante">Projetos/Propostas:</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p id="texto-descritivo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis sagittis nibh in tempor. Pellentesque lobortis turpis hendrerit, commodo purus ac, blandit quam. Fusce eu elit non ligula interdum facilisis. In vestibulum rutrum blandit. Suspendisse vitae erat quis felis luctus viverra. Ut at rhoncus sem. Suspendisse lacinia est sed neque semper, et accumsan nisl feugiat. Phasellus posuere sed nulla vel tristique. Curabitur massa magna, tempor non urna.</p>
            </div>
        </div>
    </div>

    <div id="linha-4" class="row">
        <div class="row">
            <div class="col-12">
                <h1 id="texto-importante">Links importantes:</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="https://divulgacandcontas.tse.jus.br">Divulga TSE</a><br>
                <a href="">Site pessoal</a><br>
                <a href="">Site partido</a><br>
            </div>
        </div>
    </div>
</div>
