#texto-importante{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}

#texto-descritivo{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

#imagem-candidato{
    border-radius: 279px;
    width: 279px;
    height: 279px;
}

/* Imagem de perfil */
.profile-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 2px solid #dcdcdc;
}

/* Logo do partido */
.party-logo {
    width: 60px;
    height: auto;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .card .row {
        text-align: center;
    }

    .profile-image {
        width: 150px;
        height: 150px;
    }

    .text-md-start, .text-md-end {
        text-align: center !important;
    }

    .party-logo {
        margin-top: 10px;
    }
}


#fundo {
    width: 1105px;
    height: 271px;
    flex-shrink: 0;
    border-radius: 12px 12px 0px 0px;
    background: url(../../../public/images/fundo1.png) lightgray 50% / cover no-repeat;
}

#partido-num{
    margin-left: 20px;
}

#partido{
    margin-left: 15px;
}

#numero{
    margin-left: 38px;
}

#linha-1 {
    display: flex;
    justify-content: center;
    background-color: var( --floating-box);
    padding: 20px;
    margin-top: 120px;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 12px;
    filter: drop-shadow(0px 4px 4px var(--shadow));
    
}

#linha-2 {
    display: flex;
    justify-content: center;
    background-color: var(--floating-box);
    padding: 20px;
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 12px;
    filter: drop-shadow(0px 4px 4px var(--shadow));
}

#linha-3 {
    display: flex;
    justify-content: center;
    background-color: var(--floating-box);
    padding: 20px;
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 12px;
    filter: drop-shadow(0px 4px 4px var(--shadow));
}

#linha-4 {
    display: flex;
    justify-content: center;
    background-color:var(--floating-box);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-right: 100px;
    margin-left: 100px;
    border-radius: 12px;
    filter: drop-shadow(0px 4px 4px var(--shadow));
}