<div class="container-fluid">
    <div class="row" id="title">
      <div class="col-2"></div>
      <div class="col-8">
        <h1 id="text-feed">Feed</h1>
      </div>
      <div class="col-2"></div>
    </div>
  
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <hr id="separator">
      </div>
      <div class="col-2"></div>
    </div>
  
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <div *ngFor="let group of groupCandidates(data, 3)">
          <div class="row">
            <div
              class="col"
              id="alignment"
              *ngFor="let cand of group; trackBy: trackById"
            >
              <div class="card">
                <img
                  src="images/candidato-generico.png"
                  class="card-img-top"
                  alt="Candidato Genérico"
                  id="images-card"
                />
                <a class="btn btn-primary" id="botao-card" [routerLink]="'/feed/' + cand.endpoint">
                  <h1 id="feed-text">{{ cand.nome }}</h1>
                  <p>{{ cand.cargo }} - {{ cand.partido }} - {{ cand.estado }}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
    <br /><br /><br />
  </div>
  