
<div class="footer">
    <div class="conteudo">
        <h1 class="title">Politik</h1>
        <div class="contatos">
            <p>+55 (84) 9999-9999<br>
                politiksite&#64;ufrn.edu.br</p>
            <div class="redes-sociais">
                <a href="#">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="#">
                    <i class="bi bi-twitter-x"></i>
                </a>
                <a href="#">
                    <i class="bi bi-facebook"></i>
                </a>
            </div>
        </div>
    </div>
</div>