#carousel-baixo{
    display: flex;
    border-bottom-left-radius: var(--Corner-Small, 8px);
    border-bottom-right-radius: var(--Corner-Small, 8px);
    background: var(--green-gradient);
    padding-top: 1.042vw;
    padding-bottom: 1.042vw;
    color: var(--alternative-text);
    justify-content: center;
    text-align: center;
    font-family: 'Roboto';
    font-size: 1.458vw;
    font-style: normal;
    font-weight: 600;
    /*line-height: normal;*/
    height: 4.167vw;
}

#link-carousel{
    text-decoration: none;
    color: var(--alternative-text);
}

#images-carousel{
    width: 23.438vw;
    height: 23.438vw;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
}

#carouselExampleCaptions {
    display: flex;
    flex-direction: column;
    height: 31.51vw;
    width: 61.458vw;
    aspect-ratio: 61.458vw / 31.51vw;
}

@media (max-width: 600px) {
    
}