#carousel-baixo{
    display: flex;
    border-radius: var(--Corner-Small, 8px);
    background: var(--green-gradient);
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--alternative-text);
    justify-content: center;
    text-align: center;
    font-family: 'Roboto';
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    /*line-height: normal;*/
    height: 80px;
}

#link-carousel{
    text-decoration: none;
    color: var(--alternative-text);
}

#images-carousel{
    width: 450px;
    height: 450px;
}