<div class="row" id="cards">
    <div class="col">
        <div class="card">
            <img src="images/estandarte.png" class="card-img-top" alt="..." id="images-card">
            <a href="#" class="btn btn-primary" id="botao-card">Candidatos</a>
        </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="images/registro.png" class="card-img-top" alt="..." id="images-card">
            <a href="#" class="btn btn-primary" id="botao-card">Solicite um registro</a>
        </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="images/urna.png" class="card-img-top" alt="..." id="images-card">
            <a href="#" class="btn btn-primary" id="botao-card">Eleições</a>
        </div>
    </div>
</div>