<div class="row" id="cards">
    <div class="col">
        <div class="card">
            <img src="images/estandarte.png" class="card-img-top" alt="..." id="images-card">
            <a class="btn btn-primary" id="botao-card" routerLink="feed">Candidatos</a>
        </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="images/registro.png" class="card-img-top" alt="..." id="images-card">
            <a class="btn btn-primary" id="botao-card" routerLink="cadastro">Solicite um cadastro</a>
        </div>
        </div>
        <div class="col">
            <div class="card">
            <img src="images/urna.png" class="card-img-top" alt="..." id="images-card">
            <a href="https://resultados.tse.jus.br/oficial/app/index.html#/eleicao/resultados" class="btn btn-primary" id="botao-card">Eleições</a>
        </div>
    </div>
</div>