
<!--Navbar-->
<nav class="navbar navbar-dark bg-dark bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <!--Logo-->
        <a class="navbar-brand" href="#">
            <img src="logo1.svg" alt="logo" class="logo">
        </a>
        <!--Barra de pesquisa desktop-->
        <div id="desktop-search-bar">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>

        <div style="display: flex; gap: 20px; align-items: center;">
            <!--Botão do modo alto contraste-->
            <button class="botao-alto-contraste" (click)="toggle()">
                <img src="botao-alto-contraste.svg" alt="botao-alto-contraste">
            </button>
    
            <!--Botão de ativação da sidebar-->
            <button class="navbar-toggler" style="height: 50px;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
                aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <!--Sidebar-->
        <div class="offcanvas offcanvas-end offcanvas-style text-bg-dark" style="max-width: 300px;" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <!--Título da sidebar-->
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" style="color: var(--alternative-text);" id="offcanvasDarkNavbarLabel">Sidebar</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <!--Corpo da sidebar-->
            <div class="offcanvas-body">
                <!--Barra de pesquisa mobile-->
                <div id="mobile-search-bar">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-success" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </form>
                </div>
                <!--Links-->
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" style="margin-top: 10px;">
                    <!--Home-->
                    <li class="nav-item">
                        <a class="nav-link active item" aria-current="page" id="home" routerLink="/">
                            @if (currentRoute === '/') {
                                <i class="bi bi-house-fill"></i>
                                <span style="font-weight: bold;">Home</span>   
                            }
                            @else {
                                <i class="bi bi-house"></i>
                                <span>Home</span>  
                            }
                        </a>
                    </li>
                    <!--Feed-->
                    <li class="nav-item">
                        <a class="nav-link active item" aria-current="page" id="feed" routerLink="feed">
                            @if (currentRoute === '/feed') {
                                <i class="bi bi-grid-1x2-fill"></i>
                                <span style="font-weight: bold;">Feed</span>   
                            }
                            @else {
                                <i class="bi bi-grid-1x2"></i>
                                <span>Feed</span> 
                            }
                        </a>
                    </li>
                    <!--Contato-->
                    <li class="nav-item">
                        <a class="nav-link active item" aria-current="page" id="contato" routerLink="contato">
                            @if (currentRoute === '/contato') {
                                <i class="bi bi-chat-left-fill"></i>
                                <span style="font-weight: bold;">Contato</span>   
                            }
                            @else {
                                <i class="bi bi-chat-left"></i>
                                <span>Contato</span> 
                            }
                        </a>
                    </li>
                </ul>
                <!--Botão de login-->
                <div id="login">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#login-modal">
                        <i class="bi bi-person-circle"></i>
                        Login
                    </button>
                    
                </div>
            </div>
        </div>
    </div>
</nav>

<login></login>