nav {
    background: linear-gradient(90deg, #3820FD 65.5%, #211397 100%);
}

.offcanvas-style {
    background: linear-gradient(180deg, #3820FD 0%, #211397 100%);
    display: flex;
}

.logo {
    width: 150px;
    height: auto;
    flex-shrink: 0;
}

.nav-item i {
    margin-right: 5px;
}

.nav-item a {
    font-size: larger;
}

.nav-item a:hover {
    color: darkgray;
}

#login {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 8.5%;
    left: 101.635px;
}

#login button {
    font-size: larger;
}

@media screen and (max-width: 600px) {
    #desktop-search-bar {
      display: none;
    }
}

@media screen and (min-width: 600px) {
    #mobile-search-bar {
      display: none;
    }
}