.modal-dialog {
    max-width: 350px;
    margin: auto;
  }
  
  #login-box {
    border-radius: 8px;
    background: var(--floating-box);
    padding: 20px;
  }
  
  #login-text h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  #whitespace {
    height: 20px;
  }
  
  #text {
    margin: 5px 0;
  }
  
  #login-button {
    width: 100%;
  }
  