<div class="container-fluid">
  <div class="row" id="title">
       <div class="col-2"></div>
       <div class="col-8">
           <h1 id="text-feed">Feed</h1>
       </div>
       <div class="col-2"></div>
  </div>
  <div class="row">
       <div class="col-2"></div>
       <div class="col-8">
           <hr id="separator">
       </div>
       <div class="col-2"></div>
  </div> 
</div>
<div class="row" id="cards">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="images/estandarte.png" class="card-img-top" alt="..." id="images-card">
            <a href="#" class="btn btn-primary" id="botao-card">Fulano de tal</a>
        </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
            <img src="images/registro.png" class="card-img-top" alt="..." id="images-card">
            <a href="#" class="btn btn-primary" id="botao-card">Fulano de tal</a>
        </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
            <img src="images/urna.png" class="card-img-top" alt="..." id="images-card">
            <a href="#" class="btn btn-primary" id="botao-card">Fulano de tal</a>
        </div>
    </div>
</div>