<div class="container-fluid">
  
    <div class="row" style="margin-top: 40px;" id="title">
        <div class="col-2 desktop"></div>
        <div class="col">
            <h1 id="text-feed">Feed</h1>
        </div>
        <div class="col-2 desktop"></div>
    </div>

  
    <div class="row">
        <div class="col-2 desktop"></div>
        <div class="col">
            <hr id="separator">
        </div>
    </div>

    <div class="mobile">
        <div class="card-mobile">
            <img src="images/candidato-generico.png" alt="candidato">
            <h1>Fulano de Tal</h1>
            <p>Vereador - Partido - Natal/RN</p>
        </div>
        <div class="card-mobile">
            <img src="images/candidato-generico.png" alt="candidato">
            <h1>Fulano de Tal</h1>
            <p>Prefeito - Partido - Natal/RN</p>
        </div>
        <div class="card-mobile">
            <img src="images/candidato-generico.png" alt="candidato">
            <h1>Fulano de Tal</h1>
            <p>Dep. Estadual - Partido - RN</p>
        </div>
        <div class="card-mobile">
            <img src="images/candidato-generico.png" alt="candidato">
            <h1>Fulano de Tal</h1>
            <p>Dep. Federal - Partido - RN</p>
        </div>
        <div class="card-mobile">
            <img src="images/candidato-generico.png" alt="candidato">
            <h1>Fulano de Tal</h1>
            <p>Senador - Partido - RN</p>
        </div>
        <div class="card-mobile">
            <img src="images/candidato-generico.png" alt="candidato">
            <h1>Fulano de Tal</h1>
            <p>Senador - Partido - RN</p>
        </div>
        <div class="card-mobile">
            <img src="images/candidato-generico.png" alt="candidato">
            <h1>Fulano de Tal</h1>
            <p>Dep. Estadual - Partido - RN</p>
        </div>
        <div class="card-mobile">
            <img src="images/candidato-generico.png" alt="candidato">
            <h1>Fulano de Tal</h1>
            <p>Dep. Federal - Partido - RN </p>
        </div>
        <div class="card-mobile">
            <img src="images/candidato-generico.png" alt="candidato">
            <h1>Fulano de Tal</h1>
            <p>Senador - Partido - RN</p>
        </div>
    </div>

    <div class="desktop">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="row" id="cards">
                    <div class="col" id="alignment">
                        <div class="card">
                            <img src="images/candidato-generico.png" class="card-img-top" alt="Candidato Genérico" id="images-card">
                            <a class="btn btn-primary" id="botao-card" routerLink="candidato">
                                <h1 id="feed-text">Fulano de Tal</h1>
                                <p>Vereador - Partido - Natal/RN</p>
                            </a>
                        </div>
                    </div>
                    <div class="col" id="alignment">
                        <div class="card">
                            <img src="images/candidato-generico.png" class="card-img-top" alt="Candidato Genérico" id="images-card">
                            <a class="btn btn-primary" id="botao-card" routerLink="candidato">
                                <h1 id="feed-text">Fulano de Tal</h1>
                                <p>Prefeito - Partido - Natal/RN</p>
                            </a>
                        </div>
                    </div>
                    <div class="col" id="alignment">
                        <div class="card">
                            <img src="images/candidato-generico.png" class="card-img-top" alt="Candidato Genérico" id="images-card">
                            <a class="btn btn-primary" id="botao-card" routerLink="candidato">
                                <h1 id="feed-text">Fulano de Tal</h1>
                                <p>Governador - Partido - RN</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="row" id="cards">
                    <div class="col" id="alignment">
                        <div class="card">
                            <img src="images/candidato-generico.png" class="card-img-top" alt="Candidato Genérico" id="images-card">
                            <a class="btn btn-primary" id="botao-card" routerLink="candidato">
                                <h1 id="feed-text">Fulano de Tal</h1>
                                <p>Dep. Estadual - Partido - RN</p>
                            </a>
                        </div>
                    </div>
                    <div class="col" id="alignment">
                        <div class="card">
                            <img src="images/candidato-generico.png" class="card-img-top" alt="Candidato Genérico" id="images-card">
                            <a class="btn btn-primary" id="botao-card" routerLink="candidato">
                                <h1 id="feed-text">Fulano de Tal</h1>
                                <p>Dep. Federal - Partido - RN</p>
                            </a>
                        </div>
                    </div>
                    <div class="col" id="alignment">
                        <div class="card">
                            <img src="images/candidato-generico.png" class="card-img-top" alt="Candidato Genérico" id="images-card">
                            <a class="btn btn-primary" id="botao-card" routerLink="candidato">
                                <h1 id="feed-text">Fulano de Tal</h1>
                                <p>Senador - Partido - RN</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="row" id="cards">
                    <div class="col" id="alignment">
                        <div class="card">
                            <img src="images/candidato-generico.png" class="card-img-top" alt="Candidato Genérico" id="images-card">
                            <a class="btn btn-primary" id="botao-card" routerLink="candidato">
                                <h1 id="feed-text">Fulano de Tal</h1>
                                <p>Dep. Estadual - Partido - RN</p>
                            </a>
                        </div>
                    </div>
                    <div class="col" id="alignment">
                        <div class="card">
                            <img src="images/candidato-generico.png" class="card-img-top" alt="Candidato Genérico" id="images-card">
                            <a class="btn btn-primary" id="botao-card" routerLink="candidato">
                                <h1 id="feed-text">Fulano de Tal</h1>
                                <p>Dep. Federal - Partido - RN</p>
                            </a>
                        </div>
                    </div>
                    <div class="col" id="alignment">
                        <div class="card">
                            <img src="images/candidato-generico.png" class="card-img-top" alt="Candidato Genérico" id="images-card">
                            <a class="btn btn-primary" id="botao-card" routerLink="candidato">
                                <h1 id="feed-text">Fulano de Tal</h1>
                                <p>Senador - Partido - RN</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <br><br><br>
</div>
