<div class="container-fluid">
    <!-- Título -->
    <div class="row" id="title">
        <div class="col-2"></div>
        <div class="col-8">
            <h1 id="text-feed">Feed</h1>
        </div>
        <div class="col-2"></div>
    </div>

    <!-- Separador -->
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <hr id="separator">
        </div>
        <div class="col-2"></div>
    </div>

    <!-- Primeira Linha de Cartões -->
    <div class="row" id="cards">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="images/canditado-generico.png" class="card-img-top" alt="Candidato Genérico" id="images-card">
                <a href="#" class="btn btn-primary" id="botao-card">
                    <h1>Fulano de Tal</h1>
                    <p>Vereador - Partido - Natal/RN</p>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="images/canditado-generico.png" class="card-img-top" alt="Candidato Genérico" id="images-card">
                <a href="#" class="btn btn-primary" id="botao-card">
                    <h1>Fulano de Tal</h1>
                    <p>Prefeito - Partido - Natal/RN</p>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="images/canditado-generico.png" class="card-img-top" alt="Candidato Genérico" id="images-card">
                <a href="#" class="btn btn-primary" id="botao-card">
                    <h1>Fulano de Tal</h1>
                    <p>Governador - Partido - RN</p>
                </a>
            </div>
        </div>
    </div>

    <!-- Espaçamento -->
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <br>
            <br>
        </div>
        <div class="col-2"></div>
    </div>

    <!-- Segunda Linha de Cartões -->
    <div class="row" id="cards">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="images/canditado-generico.png" class="card-img-top" alt="Candidato Genérico" id="images-card">
                <a href="#" class="btn btn-primary" id="botao-card">
                    <h1>Fulano de Tal</h1>
                    <p>Dep. Estadual - Partido - RN</p>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="images/canditado-generico.png" class="card-img-top" alt="Candidato Genérico" id="images-card">
                <a href="#" class="btn btn-primary" id="botao-card">
                    <h1>Fulano de Tal</h1>
                    <p>Dep. Federal - Partido - RN </p>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="images/canditado-generico.png" class="card-img-top" alt="Candidato Genérico" id="images-card">
                <a href="#" class="btn btn-primary" id="botao-card">
                    <h1>Fulano de Tal</h1>
                    <p>Senador - Partido - RN</p>
                </a>
            </div>
        </div>
    </div>
</div>
