#title {
    margin-top: 70px;
}

#text-feed {
    font-family: "Russo One";
}

#separator {
    margin-bottom: 50px;
}

.card {
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#cards {
    display: flex;
    justify-content: center;
    /*margin-left: 20px;*/
    margin-bottom: 40px; 
}

#images-card {
    height: 300px;    
}

#botao-card {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    background: var(--green-gradient);
    height: 100px;
    
}

#botao-card h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#botao-card p {
    font-size: 18px;
    margin: 0; 
    color: yellow;
}