

<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8" id="carousel">
            <carousel></carousel>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col" id="card">
            <card></card>
        </div>
        <div class="col" id="card">
            <card></card>
        </div>
        <div class="col" id="card">
            <card></card>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8" id="sobre">
            <h1 id="titulo-sobre">Sobre nós</h1>
            <div class="container-fluid" id="caixa-texto">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis sagittis nibh in tempor. Pellentesque lobortis turpis hendrerit, commodo purus ac, blandit quam. Fusce eu elit non ligula interdum facilisis. In vestibulum rutrum blandit. Suspendisse vitae erat quis felis luctus viverra. Ut at rhoncus sem. Suspendisse lacinia est sed neque semper, et accumsan nisl feugiat. Phasellus posuere sed nulla vel tristique. Curabitur massa magna, tempor non urna.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis sagittis nibh in tempor. Pellentesque lobortis turpis hendrerit, commodo purus ac, blandit quam. Fusce eu elit non ligula interdum facilisis. In vestibulum rutrum blandit. Suspendisse vitae erat quis felis luctus viverra. Ut at rhoncus sem. Suspendisse lacinia est sed neque semper, et accumsan nisl feugiat. Phasellus posuere sed nulla vel tristique. Curabitur massa magna, tempor non urna.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis sagittis nibh in tempor. Pellentesque lobortis turpis hendrerit, commodo purus ac, blandit quam. Fusce eu elit non ligula interdum facilisis. In vestibulum rutrum blandit. Suspendisse vitae erat.    
                </p>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

<app-footer></app-footer>