


<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8" id="carousel">
            <carousel></carousel>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8" id="sobre">
            <h1 id="titulo-sobre">Descubra</h1>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <card></card>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <hr id="separator">
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8" id="sobre">
            <h1 id="titulo-sobre">Sobre nós</h1>
            <div class="container-fluid" id="caixa-texto">
                <p>
                    Politik é uma plataforma web desenvolvida para centralizar informações eleitorais, oferecendo uma experiência acessível tanto para eleitores quanto para candidatos.
                    Nosso objetivo é simplificar o acesso a informações sobre candidatos e partidos políticos durante os períodos eleitorais no Brasil. Por meio de um modelo de benefício mútuo:
                    <br>
                    Para os candidatos: uma ferramenta para criar perfis, expor suas propostas e objetivos.
                    <br>
                    Para os eleitores: uma central organizada para pesquisas rápidas e decisões de voto mais conscientes.
                </p>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
